<header>
  <a href="/"><h1 class="title"><i class="material-icons">burst_mode</i><p>Damgur</p></h1></a>
  {{#if addButton}}
    <button type="button" id="add-meme-button"><i class="material-icons">add_a_photo</i></button>
  {{/if}}
  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navlink"><a href="/">Home</a></li>
      <li class="navitem navlink"><a href="/contributors">Contributors</a></li>
      <li class="navitem navlink"><a href="/faq">FAQ</a></li>
      {{#if searchBar}}
        <li class="navitem searchBar">
          <input type="text" id="navbar-searchBar" placeholder="Search photos...">
        </li>
      {{/if}}
    </ul>
  </nav>
</header>
