  <header>
    <a href="/index.html"><h1 class="title"><i class="material-icons">burst_mode</i><p>Damgur</p></h1></a>
    <nav class="navbar">
      <ul class="navlist">
        <li class="navitem navlink"><a href="/index.html">Home</a></li>
        <li class="navitem navlink"><a href="#">Contributors</a></li>
        <li class="navitem navlink"><a href="/faq.html">FAQ</a></li>
        <li class="navitem searchBar">
          <input type="text" id="navbar-searchBar" placeholder="Search photos...">
        </li>
      </ul>
    </nav>
  </header>
