<div id="new-meme-backdrop" class="hidden">
  <div id="new-meme" class="hidden">
    <label for="new-meme-link" class="new-meme-element">Link to an image</label>
    <input type="text" id="new-meme-link" class="new-meme-element"> </input>
	<div id="new-meme-image-container">
    <img id="new-meme-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/-Insert_image_here-.svg/2000px--Insert_image_here-.svg.png" class="new-meme-element">
	</div>
    <label for="new-meme-subtitle" class="new-meme-element" id="new-meme-subtitle-label">Meme subtitle</label>
    <textarea id="new-meme-subtitle" class="new-meme-element"></textarea>
	<div class="new-meme-button-container" class="hidden">
		<button type="button" id="new-meme-cancel" class="new-meme-button new-meme-element">Cancel</button>
		<button type="button" id="new-meme-create" class="new-meme-button new- meme-element">Create</button>
	</div>
  </div>
</div>
