<article>
  <div class="photo-box">
    <button type="button" class="close-button"><i class="material-icons">close</i></button>
    <div class="photo">
      <a class="photo-url" href={{url}}><img src={{url}} alt=""></a>
    </div>
    <div class="photo-info">
      <p class="photo-subtitle">
        {{description}}
      </p>
      <a class="comment-link" href={{index}}>Comments</a>
    </div>
  </div>
</article>
