<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Icon font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <!-- Site font -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{{style}}" media="screen">
    <link rel="icon" href="http://www.iconsplace.com/download/orange-slr-camera-256.png">
    <title>Damgur</title>
  </head>
  <body>
    {{{body}}}
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.runtime.js"></script>
  <script src="./photoTemplate.js"></script>
  <script src="./commentTemplate.js"></script>	
  <script src="./script.js"></script>
</html>
