{{> header}}

<main class="content-container">
  <div class="photo-container">
    {{#with photo}}
      {{> commentPhoto}}
    {{/with}}
  </div>
  <div class="comment-container">
    {{#each comments}}
      {{> comment}}
    {{/each}}
    <textarea placeholder="Write a comment!" class="comment-box"></textarea>
    <button type="button" name="create-comment"><i class="material-icons">create</i></button>
  </div>
</main>
