{{> header}}

<main class="content-container">
  {{#each photos}}
      {{> commentPhoto}}
  {{/each}}
  <div class="comment-container">
    {{#each comments}}
      {{> comment}}
    {{/each}}
    <input type="text"></input>
  </div>
</main>
