{{> header}}

<main class="content-container">
  {{#with photos}}
    {{> commentPhoto}}
  {{/with}}
  <div class="comment-container">
    {{#each comments}}
      {{> comment}}
    {{/each}}
  </div>
</main>
