{{> header}}

<main class="content-container">
  {{#with photo}}
    {{> commentPhoto}}
  {{/with}}
  <div class="comment-container">
    {{#each comments}}
      {{> comment}}
    {{/each}}
    <input type="text"></input>
  </div>
</main>
