{{> header}}

  <main class="photo-container">
    <h1>FAQ</h1>
    <div class="faq-entry">
      <p class="faq-question">Can you upload photos?</p>
      <p class="faq-answer">You can't upload photos, but you can provide a photo link which will</p>
    </div>
    <div class="faq-entry">
      <p class="faq-question">Question:</p>
      <p class="faq-answer">Answer content</p>
    </div>
    <div class="faq-entry">
      <p class="faq-question">Question:</p>
      <p class="faq-answer">Answer content</p>
    </div>
    <div class="faq-entry">
      <p class="faq-question">Question:</p>
      <p class="faq-answer">Answer content</p>
    </div>
  </main>
