{{> header}}

<main class="photo-container">
  {{#each photos}}
      {{> photo}}
  {{/each}}
</main>
<div id="new-meme-backdrop" class="hidden">
  <div id="new-meme" class="hidden">
    <label for="new-meme-link">Link to an image</label>
    <input type="text" id="new-meme-link"> </input>
    <img src="" alt="Meme Image">
    <label for="new-meme-subtitle">Meme subtitle</label>
    <textarea id="new-meme-subtitle"></textarea>
    <button type="button" id="new-meme-cancel">Cancel</button>
    <button type="button" id="new-meme-create">Create</button>
  </div>
</div>
