body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

.title {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  background-color: #dc4405;
  color: #fff;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  background-image: url(http://enjoycss.com/webshots/hq_0.png);
  background-blend-mode: overlay;
}

.title p {
  display: inline-block;
  margin: 0;
  position: relative;
  bottom: 11px;
}

.title i {
  font-size: 50px;
  padding-top: 8px;
  padding-left: 20px;
}

.navbar {
  background-color: #000;
  margin: 0;
  padding: 0;
}

.navlist {
  margin: 0;
  padding: 10px 35px
}

.navitem {
  display: inline-block;
}

.navlink a {
  color: #fff;
  font-size: 20px;
  padding: 4px;
}

.navlink a:hover {
  border-radius: 4px;
  background-color: #353535;
}

.searchBar {
  float: right;
}
